[[extend 'layout.html']] [[block page_head]]
<link rel="stylesheet" type="text/css" href="css/index.css" />
[[end]]

<style>
	[v-cloak] {
		display: none;
	}
</style>

<div class="section" id="vue-target" v-cloak>
	<!-- Put here your Vue.js template -->

	<div id="map"></div>

	<div v-if="post_mode" class="container block p-4">
		<!-- <form>
			<div class="group">
				<input type="text" />
				<label>Normal</label>
			</div>
			<div class="group">
				<input type="text" required="required" />
				<label>Required</label>
			</div>
			<input type="submit" />
		</form> -->

		<div class="form">
			<!-- This looks like a form, but is not.  We just need the inputs. -->
			<div class="field" v-if="title">
				<div class="control">
					<label class="label">Title</label>
					<input
						type="text"
						v-model="add_post_title"
						placeholder="Title"
						class="input"
					/>
				</div>
			</div>

			<div class="field" v-if="title == false">
				<div class="control">
					<label class="label">Title</label>
					<input
						type="text"
						v-model="add_post_title"
						placeholder="Title"
						class="input"
					/>
				</div>
				<p class="help is-danger">This field is required</p>
			</div>

			<div class="field" v-if="description">
				<div class="control">
					<label class="label">Description</label>
					<textarea
						class="textarea is-info"
						placeholder="Write a post"
						v-model="add_post_description"
					></textarea>
				</div>
			</div>

			<div class="field" v-if="description == false">
				<div class="control">
					<label class="label">Description</label>
					<textarea
						v-model="add_post_description"
						placeholder="Description"
						class="textarea is-info"
					></textarea>
				</div>
				<p class="help is-danger">This field is required</p>
			</div>

			<div class="field" v-if="image">
				<p class="control">
					<div class="file is-info">
						<label class="file-label">
						<input class="file-input" type="file"
								accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
								@change="upload_file($event)">
						<span class="file-cta">
							<span class="file-label">
							<span>Add image</span>
							</span>
						</span>
						</label>
					</div>
				</p>
				<p v-if="image_name" class="help is-success">Uploaded {{image_name}}</p>
		    </div>

		    <div class="field" v-if="image == false">
				<div class="control">
					<div class="file is-info">
						<label class="file-label">
						<input class="file-input" type="file"
								accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
								@change="upload_file($event)">
						<span class="file-cta">
							<span class="file-label">
							<span>Add image</span>
							</span>
						</span>
						</label>
					</div>
				</div>
				<p class="help is-danger"> field is required</p>
	  		</div>

			<div class="field">
				<div class="control">
					<input
						type="submit"
						@click="add_post"
						value="Post"
						class="button is-primary"
					/>

					<input
						type="submit"
						@click="cancel_post"
						value="Cancel"
						class="button is-warning"
					/>
				</div>
			</div>
		</div>
	</div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
	function myFunction(id, i) {
		axios
			.get(delete_post_url, { params: { id: id } })
			.then(function (response) {
				// for (let i = 0; i < app.vue.rows.length; i++) {
				// 	if (app.vue.rows[i].id === id) {
				// 		app.vue.rows.splice(i, 1);
				// 		app.enumerate(app.vue.rows);
				// 		break;
				// 	}
				// }
				
				myFunction2(i);
			});
	}
	let my_callback_url = '[[=XML(my_callback_url)]]';
	let load_location_posts_url = '[[=XML(load_location_posts_url)]]';
	let add_location_post_url = '[[=XML(add_location_post_url)]]';
	let upload_image_url = '[[=XML(upload_image_url)]]';
	let obtain_gcs_url = "[[=XML(obtain_gcs_url)]]";
	let delete_post_url = "[[=XML(delete_post_url)]]";
</script>
<script src="js/index.js"></script>
<script
	async
	defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfliWZty6z10Swm1F-vug2IHoD7uSRa18&callback=initMap"
	type="text/javascript"
></script>
[[end]]
